{% extends "layouts/base.html" %}
{% load static%}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title%}Principal{% endblock  %}
{% block content %}
<div class="row" id="miElemento">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img style="height: 430px;" style="width: 100px;"
            src="https://img.freepik.com/fotos-premium/caida-granos-cafe-oscuro-espacio-copia_88281-1264.jpg?w=360"/>
            <div class="card-body">
                <h5 class="card-title">Desayuno</h5>
                <p class="card-text">podras elegir que desayunar con lo que tienes</p>
            </div>
            <div class="card-body">
                <a href="{% url 'comida1' %}" class="card-link">Desayuno</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img style="height: 430px;" style="width: 100px;"
            src="https://img.freepik.com/foto-gratis/espaguetis-taza-negra-tomate-lechuga_1150-23167.jpg?w=360&t=st=1699758445~exp=1699759045~hmac=940bd7b1b0afcc81a6071f7ce2abede5123513b85aad1d28b48681307ab1f7f6"/>
            <div class="card-body">
                <h5 class="card-title">Almuerzo</h5>
                <p class="card-text">podras elegir que almorzar con lo que tienes</p>
            </div>
            <div class="card-body">
                <a  href="{% url 'comida2' %}" class="card-link">Almuerzo</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img style="height: 430px;" style="width: 100px;"
            src="https://img.freepik.com/foto-gratis/comida-mexicana_23-2148159764.jpg?w=360&t=st=1699758369~exp=1699758969~hmac=c3c7f6a2d174d1f15de2ea83695595cb070078c6051daaa46ee7ae8e7d38d74a" class="card-img-top" alt="Chicago Skyscrapers"/>
            <div class="card-body">
                <h5 class="card-title">Cena</h5>
                <p class="card-text">podras elegir que cenar con lo que tienes</p>
            </div>
            <div class="card-body">
                <a href="{% url 'comida3' %}" class="card-link">Cena</a>
            </div>
        </div>
    </div>
    <a href="{% url 'perfil' %}" class="btn btn-dark">Perfil</a>
    <a href="{% url 'index' %}" class="btn btn-dark">Volver</a>
</div>
{% endblock %}