{% extends "layouts/base.html" %}
{% load static%}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title%}Principal{% endblock  %}
{% block content %}

<section class="vh-100" style="background-color: #febd59;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
                <div class="mt-3 mb-4">
                    <img id="selected-avatar" class="rounded-circle img-fluid" style="width: 100px;" />
                </div>
                <h4 class="mb-2">{{ request.user.email }}</h4>
                <p class="text-muted mb-4"> <span class="mx-2">|</span> <a href="#!"></a></p>
        
                <!-- Menú desplegable para elegir el avatar -->
                <div class="mb-4 pb-2">
                    <label>Selecciona una imagen:</label>
                    <select id="avatar-selection">
                        <option value="https://img.freepik.com/vector-premium/ilustracion-taco-vector-caricatura-aislado_592024-30.jpg?w=2000">Taco</option>
                        <option value="https://static.vecteezy.com/system/resources/previews/006/621/014/non_2x/burger-with-soda-and-ice-illustration-hamburger-fast-food-logo-cafe-and-restaurant-menu-flat-cartoon-style-suitable-for-web-landing-page-banner-flyer-sticker-card-background-vector.jpg">Hamburguesa</option>
                        <option value="https://us.123rf.com/450wm/rrraven/rrraven1902/rrraven190200015/116287710-ensalada-fresca-con-lechuga-tomate-y-aceitunas.jpg?ver=6">Ensalada</option>
                    </select>
                </div>
        
                <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                    <i class="fab fa-skype fa-lg"></i>
                </button>
        
                <button type="button" class="btn btn-custom-color btn-rounded btn-lg">
                    <a href="{% url 'logged' %}">Crear receta</a>
                </button>
                <div class="d-flex justify-content-between text-center mt-5 mb-2">
                    <div>
                        <p class="mb-2 h5"></p>
                        <p class="text-muted mb-0"></p>
                    </div>
                    <div class="px-3">
                        <p class="mb-2 h5">0</p>
                        <p class="text-muted mb-0">Recetas guardadas</p>
                    </div>
                    <div>
                        <p class="mb-2 h5"></p>
                        <p class="text-muted mb-0"></p>
                    </div>
                </div>
            </div>
        </div>          
        </div>
      </div>
    </div>
  </section>
  <script>
    const avatarSelection = document.getElementById('avatar-selection');
    const selectedAvatar = document.getElementById('selected-avatar');

    // Agrega un listener al menú desplegable
    avatarSelection.addEventListener('change', function () {
        selectedAvatar.src = this.value; // Cambia la imagen del avatar según la selección
    });

    // Establece la imagen inicial del avatar
    selectedAvatar.src = avatarSelection.value;
</script>

{% endblock %}